$blue: #5e6AD2;
$white: #f4f5f8;
$gray: #222326;
$purple00: #16151D;
$purple10: #17161D;
$purple20: #1A1921;

$background: $purple10;
$highlight: $blue;
$text: $white;
$backgroundAlt: $purple20;
$backgroundDark: $purple00;
$backgroundNeutral: $gray;
$borders: rgba(255,255,255,.3);

